# Stage — BasicAuth
TMDS_URL=https://techmasterdata.your-stage-env.example.com
TMDS_AUTH_TYPE=basic
TMDS_USER=your-username
TMDS_PASSWORD=your-password

# Prod — OAuth
# TMDS_AUTH_TYPE=oauth
# TMDS_CLIENT_ID=your-client-id
# TMDS_CLIENT_SECRET=your-client-secret
# TMDS_TOKEN_URL=https://your-auth-server/token
